

/* fonts */
@font-face {font-family: "AvenirBold"; src: url("../fonts/AvenirNextCyr-Bold.ttf")};
@font-face {font-family: "AvenirReg"; src: url("../fonts/AvenirNextCyr-Regular.ttf")};
@font-face {font-family: "ProximaNovaBlack"; src: url("../fonts/ProximaNova-Black.ttf")};
@font-face {font-family: "ProximaNovaBold"; src: url("../fonts/ProximaNova-Bold.ttf")};
@font-face {font-family: "ProximaNovaBoldRegular"; src: url("../fonts/ProximaNova-Regular.ttf")};
@font-face {font-family: "ProximaNovaSemibold"; src: url("../fonts/ProximaNova-Semibold.ttf")};

/* colors */
$yellow: rgb(255,208,7);
$grey: rgb(232,232,232);
$dark-g:  rgb(49,49,49);


* {
	margin: 0;
	padding: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: "ProximaNovaRegular", Helvetica, sans-serif;
    font-size: 16px;
    width: 100%;
    height: auto;
    color: #464646;
    /*font-weight: bold;*/
}

article {
    position: relative;
    width: 1170px;
    margin: 0 auto;
    height: 100%;
}

a {
    text-decoration: none;
    color: white;
    font-family: "ProximaNovaBold";
    font-size: 18px;
}

.button {
    padding: 5px 15px;
    border: 3px solid $yellow;
}

.button:hover {
    background: linear-gradient(to bottom, #ffd007, #9f8204);
    padding: 8px 18px;
    border: none;
    color: black;
    cursor: pointer;
}

h2 {
    font-family: "ProximaNovaBold";
    font-size: 48px;
    color: black;
    margin: 0 0 30px;
}

h2:after {
    content:"";
    display: block;
    width: 190px;
    height: 5px;
    background-color: $yellow;
    margin-top: 5px;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

.menu {
    display: block;
    background: url(../img/menu.png) no-repeat center;
    background-size: cover;
    width: 48px;
    height: 39px;
    cursor: pointer;
}

#six-screen, #ten-screen {
    .arrow {
        display: block;
        width: 40px;
        height: 70px;
    }
    
    .left {
        width: 40px;
        height: 70px;
        display: block;
        background: url(../img/arrow-left.png) no-repeat center;
        background-size: cover;
    }
    
    .left:hover {
        background: url(../img/arrow-left2.png) no-repeat center;
        background-size: cover; 
    }
    
    .right {
        width: 40px;
        height: 70px;
        display: block;
        background: url(../img/arrow-right.png) no-repeat center;
        background-size: cover;
    }
    
    .right:hover {
        background: url(../img/arrow-right2.png) no-repeat center;
        background-size: cover; 
    }
}

.upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    a {
        height: 30px;
    }

    a:hover {
        border-bottom: #9a9999 2px solid;
        box-sizing:border-box;
    }
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
  
}


.ic-phone {
    width: 30px;
    height: 30px;
    display: block;
    margin-right: 15px;
    background: url(../img/phone.png) no-repeat center;
    background-size: cover;
}

input {
    width: 220px;
    height: 40px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #bababa;
    background: none;
    text-align: center;
    font-family: "ProximaNovaSemibold";
    font-size: 20px;
    color: #bababa;
    margin-right: 40px;

  
}
input::placeholder {
    color: #bababa;
}

input::placeholder:hover {
    color:white;
}

input:hover {
    border-bottom: 2px solid white;
    color:white;
}


.button {
    color: white;
    padding: 5px 13px 7px 13px;
    border: 3px solid $yellow;
    font-family: "ProximaNovaBold"
}

.button:hover {
    background: linear-gradient(to bottom, #ffd007, #9f8204);
    padding: 8px 16px 10px 16px;;
    border: none;
    color: black;
    cursor: pointer;
}

.checkbox-wrap {
    margin-top: 40px;

    .checkbox {
        display: none;
    }
    
    label {
        display: block; 
        font-family: "ProximaNovaSemibold";
        font-size: 18px;
        
    }

    .checkbox-custom {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 2px;
        background-color: #bababa;
        margin-right: 10px; 
        vertical-align:-3px;
    }

    .checkbox:checked + .checkbox-custom:before {
        content: "";
        display: block;
        position: absolute;
        top: 2px;
        right: 2px;
        bottom: 2px;
        left: 2px;
        background: url(../img/check.png) no-repeat center;
    }
}



.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background: rgba(0,0,0,0.6);

    .modal-content {
        margin: 15% auto;
        width: 960px;
        height: 275px;
        background: white;
        border: 10px solid $yellow;

        .close-modal {
            display: block;
            width: 60px;
            height: 60px;
            background: $yellow;
            float: right;

            .close {
                margin: 0 30%;
                padding-top: 10px;
                display: block;
            }
        }

        .headline {
            font-family: "ProximaNovaBold";
            font-size: 48px;
            text-align: center;
            color: black;
            margin: 60px 0 30px 0;
        }

        p {
            font-size: 24px;
            text-align: center;
        }


    }
}

#backcall, #tender, #master, #offer {
    .modal-content {
        height: 345px;

        .modal-wrap {
            padding: 50px 0 0 60px;

            p {
                font-family: "ProximaNovaBold";
                font-size: 30px;
                color: black;
                margin-bottom: 30px;
                text-align: left;
            }

            input:hover {
                border-bottom: 2px solid $dark-g;
                color:$dark-g;
            }

            .button {
                color: black;
            }
            
            .button:hover {
                border: none;
                background: $yellow;
            }

            .checkbox:checked + .checkbox-custom:before {
                background: url(../img/check2.png) no-repeat center;
            }
        }
    }
}

#tender {

    .modal-content {
        width: 495px;
        height: 465px;

        .modal-wrap {
            padding: 50px 0 0 0;
            margin: 0 auto;
            width: 310px;
        }

        p {
            margin-bottom: 40px;
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;

            input {
                margin: 0 0 27px 0;
                width: 300px;
            }
    
            .button {
                margin-top: 30px;
            }
        }
    }
}

#offer, #master {

    .modal-content {
        height: 490px;
        
        .content-wrap {
        display: flex;
        flex-direction: column;
        width: 960px;

            .modal-wrap {
                height: 265px;
                padding: 0 75px 0 75px;

                form {
                    display: flex;
                    flex-direction: column;

                    .wrap {
                        display: flex;
                        align-items: flex-start;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        margin-bottom: 50px;

                        .left {
                            width: 300px;
        
                            input {
                                margin: 0 0 27px 0;
                                width: 290px;
                            }
                        }
                    
                        .right {
                            width:430px;
                            align-self: flex-end;
        
                            textarea {
                                resize: none;
                                width: 426px;
                                height: 148px;
                                margin-bottom: 20px;
                                border: 2px solid #bababa;
                                padding: 15px 0 0 15px;
        
                                &::placeholder {
                                    color: #bababa;
                                    font-family: "ProximaNovaSemibold";
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                    .button {
                        color: black;
                        margin: 0 auto;
                    }
        
                    .button:hover {
                        border: none;
                        background: $yellow;
                    }
                }
            }
        }
    }
}

#master {
    .modal-content {
        height: 420px;
    }

    textarea {
        height: 100px;
    }
}


#first-screen {
    display: block;
    width: 100%;
    height: 950px;  
    background: url(../img/firstbg.jpg) no-repeat center;
    background-size: cover;

    header {
        width: 100%;
        height: 150px;
        background-color: rgba(0,0,0,0.42); 
        border-bottom: #555354  3px solid;

        article {
            padding-top: 30px;
            height: 125px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .logo { 
                width: 285px;
                height: 75px;
                background: url(../img/logo.png) no-repeat center;
                background-size: cover;
                margin-top: 5px;
            }

            .right-side {
                width: 830px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 90px;

                .contacts {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;

                    .contact {
                        margin-right: 37px;

                        a {
                            color: $yellow;
                        }

                        .ic-mail {
                            width: 31px;
                            height: 23px;
                            background: url(../img/mail.png) no-repeat center;
                            background-size: cover;
                            display: block;
                            margin-right: 15px;
                        }
                    }

                }
            }
        }

    }

    .content {
        margin-top: 80px;
        width: 100%;
        height: 100%;

        h1 {
            font-family: "ProximaNovaBlack";
            font-size: 60px;
            color: white;
            line-height: 1;
            letter-spacing: 3px;
            text-shadow: 3px 5px 46px #4e4e4e;
        }

        .quotes {
            font-family: "AvenirBold";
        }



        .services {
            margin-top: 40px;
            height: 195px;
            width: 668px;
            background: $yellow;
            color: black;
            font-family: "ProximaNovaBold";
            font-size: 28px;

            ul {
                padding-top: 17px;
                margin-left: 20px;
                width: 550px;
                list-style-type: none;

                li {
                   padding-bottom: 7px;
                }
            }
        }

        .contact-buttons {
            margin-top: 80px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        #scroll {
            padding-top: 60px;
            margin: 0 auto;
            width: 30px;
            height: 35px;
            display: block;
        }
    }


}

#second-screen {
    width: 100%;
    height: 420px;
    display: block;
    padding-top: 60px;



        .left {
            width: 480px;
    
            p {
                line-height: 20pt;
            }
        }
    
        .right {
            width: 460px;
            margin-top: 35px;

            .up {
                width: 100%;
                height: 40px;
                background: $dark-g;
                padding-top: 15px;

                p {
                    color: white;
                    font-family: "ProximaNovaBold";
                    text-align: center;
                    font-size: 20px;
                    text-transform: uppercase;
                }
            }
            
            .down {
                width: 430px;
                height: 210px;
                background: #e8e8e8;
                padding: 30px 0 0 30px;
                display: flex;
                flex-direction: row;


                .right-p {
                    color: $dark-g;
                    font-family: "ProximaNovaBold";
                    font-size: 18px; 
                    margin-left: 30px;
                    width: 315px;

                    p {
                        margin-bottom: 30px;
                    }
                }

                .left-cups {
                    width: 90px;
                    margin-top: -10px;

                    .cups {
                        color: $yellow;
                        font-family: "ProximaNovaBlack";
                        font-size: 30px; 
                        margin-bottom: 15px;
                    }
                }
            }
        }
}

#third-screen {
    width: 100%;
    height: 200px;
    background: url(../img/thirdbg.jpg) no-repeat center;
    background-size: cover;
    padding-top: 90px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .wrap {
        text-align: center;
        

        .quot {
            display: inline-block;
            vertical-align: top;
            width: 62px;
            height: 50px;
            background: url(../img/quots.png) no-repeat center;
        }

        p {
            font-family: "ProximaNovaSemibold";
            display: inline-block;
            color: white;
            font-size: 24px;
            width: 900px;
            padding: 15px 0 0 25px;
            text-align: left;
        }
    }
}

#forth-screen {
    width: 100%;
    height: 870px;
    padding-top: 80px;

    h3 {
        font-family: "ProximaNovaBold"; 
        font-size: 24px;
        color: black;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 70px;
    }
    .content {
        display: flex;
        flex-direction: row;
        

        .list {
            width: 1040px;
            padding-left: 70px;
            
        p {
            font-family: "ProximaNovaSemibold";
            font-size: 20px;
            color: #636363;
            padding-bottom: 30px;
            line-height: 25pt;
        }

        }
    }

    .line {
        content:"";
        display: block;
        width: 18px;
        height: 670px;
        background-color: $yellow;
        margin-top: -10px;
        
    }

}

#fifth-screen {
    width: 100%;
    height: 220px;
    padding-top: 60px;
    background: $grey;

    .wrap {
        text-align: center;

        .guaranty {
            background: url(../img/star.png) no-repeat center;
            width: 101px;
            height: 154px;
            display: inline-block;
        }

        p {
            font-family: "ProximaNovaSemibold";
            display: inline-block;
            color: black;
            font-size: 24px;
            width: 920px;
            text-align: left;
            vertical-align: top;
            padding: 30px 0 0 40px;
            line-height: 25pt;
        }
    }
}

#six-screen {
    width: 100%;
    height: 900px;

    .wrap {
        width: 100%;

        h2 {
            margin: 80px 0 100px 0;  
        }

        .first-line, .second-line {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 60px;

            .card {
                width: 370px;
                height: 285px;

                .cover {
                    width: 100%;
                    height: 237px;
                    background: black;
                    margin-bottom: 20px;

                    .overlay  {
                        display: block;
                        width: 100%;
                        height: 237px;
                        background-image: url(../img/nl-cover.jpg);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                    }

                    .overlay:hover {
                        opacity: 0.8;
                    }

                    .beeline {
                        background-image: url(../img/beeline.jpg);
                    }

                    .mts {
                        background-image: url(../img/mts.jpg);
                    }

                    .sushi {
                        background-image: url(../img/sushi.jpg);
                    }

                    .dns {
                        background-image: url(../img/dns.jpg);
                    }

                    .teleru {
                        background-image: url(../img/teleru.jpg);
                    }
                }

            }

            p {
                text-align: center;
                text-transform: uppercase;
                color: #5f5f5f;
                font-family: "ProximaNovaSemibold";
                font-size: 24px;
            }
        }

        .second-line {
            margin-bottom: 100px;
        }
    }

    .wrap-click {
        margin: 80px 0 0 0;
        width: 100%;

            h3 {
                font-family: "ProximaNovaBold";
                font-size: 36px;
                color: black;
            }

            h3:after {
                content:"";
                display: block;
                width: 145px;
                height: 5px;
                background-color: $yellow;
                margin-top: 5px;
            }

            .button-close {
                display: block;
                width: 70px;
                height: 70px;
                background: #e7e7e7;

                .close {
                    margin: 0 auto;
                    padding-top: 18px;
                    display: block;

                    .close {
                        margin: 0 auto;
                        padding-top: 18px;
                        display: block;
                    }
                }
            }

            .button-close:hover {
                background: $yellow;
            }
        }

        .slider {
            width: 100%;
            display: flex;
            flex-direction: column;

            .main-slide {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                height: 515px;
                margin-bottom: 50px;

                .slides {
                    display: block;
                    width: 800px;
                    height: 510px;
                    border: 5px solid white;
                    box-shadow: 3px 30px 80px #848484;
                    background-image: url(../img/nl/1.jpg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }
            }

            .slider-images {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .slider-img {
                    display: block;
                    width: 170px;
                    height: 110px;
                    background-image: url(../img/nl/1.jpg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }

                .slider-img:hover {
                    box-shadow: inset 0px 0px 20px 100px rgba(0,0,0,0.42); 
                    box-shadow: 3px 30px 80px #848484;
                    
                }


                .img-active {
                    border: 5px solid white;
                    box-shadow: 3px 30px 80px #848484;
                }

            }
        }
}

#seven-screen {
    background: url(../img/sevenbg.jpg) no-repeat center;
    background-size: cover;

    h2 {
        color: white;
        padding-top: 80px;
    }
    h2:after {
        width: 220px;
    }

    .ic-wrap {
        width: 100%;
        margin-top: 90px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .card {
            width: 310px;
            margin-bottom: 75px;

            .icon {
                display: block;
                height: 100px;
                margin: 0 auto;
                padding-bottom: 30px;
            }

            p {
                font-family: "ProximaNovaBold";
                color: white;
                text-transform: uppercase;
                text-align: center;
                line-height: 23pt;
            }
        }

    }
}

#eight-screen {
    width: 100%;

    h2{
        padding-top: 90px;
        margin-bottom: 60px;
    }

    .content {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 80px;

        .card {
            padding: 30px 20px 40px 20px;
            border: 10px solid $yellow;
            display: flex;
            flex-direction: row;
            align-content: flex-start;
            width: 500px;
            height: 460px;
            margin-bottom: 60px;

            .left {
                width: 100px;
                height: 100px;
                margin-right: 30px;
            }

            .right {
                width: 362px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                h3 {
                    font-family: "ProximaNovaBold";
                    font-size: 20px;
                    color: #404142;
                    margin-bottom: 20px;
                    text-transform: uppercase;
                }

                ul {
                    margin: 0 0 0 20px;

                    li {
                        padding-bottom: 10px;
                        line-height: 18pt;
                        color: #5f5f5f;
                        font-size: 16px;
                    }
                }

            }
        }
    }
}

#nine-screen {
    background: url(../img/ninebg.jpg) no-repeat center;
    background-size: cover;
    height: 458px;

    h2 {
        padding-top: 80px;
        margin-bottom: 40px; 
        color: white;
    }

    h2:after {
        display: none;
    }

    p {
        font-family: "ProximaNovaSemibold";
        font-size: 30px;
        color: #bababa;
        margin-bottom: 45px;
    }

    
}

#ten-screen {
    height: 370px;

    article {
        height: auto;

        h2 {
            padding-top: 80px;
            margin-bottom: 60px; 
        }
    
        h2:after {
            width: 295px;
        }
    
        .slider {
            height: 80px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .carousel {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 1000px;
                align-items: center;  
            }
        }
    }
}

#eleven-screen {
    height: 1060px;
    background: #f6f5f5;

    h2 {
        padding-top: 80px;
        margin-bottom: 40px; 
    }

    #map {
        height: 454px;
        width:766px;
        position:relative;
        margin:0 auto;
        background:scroll url(../img/map.png) 0 0 no-repeat;

        #map-canvas {
            width:766px;
            height:454px;
            position:absolute;
            left:0;
            top:0;
            opacity:1;
        }

        #map-img {
            position:absolute;
            left:0;
            top:0;
            opacity:0; 
        }
    }



    .areas {
        margin-top: 70px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .table {
            height: 170px;

            p {
                font-family: "ProximaNovaBold";
                font-size: 20px;
                color: #464646;
                margin-bottom: 15px;

                .dot {
                    display: none;
                    width: 12px;
                    height: 12px;
                    background: url(../img/dot.png) no-repeat center;
                    background-size: cover;
                    margin-right: 12px;
                    
                }

                .active {
                    display: inline-block;
                }
            }
        }
    }
}

#twelwe-screen {
    background: url(../img/footerbg.jpg) center no-repeat;
    background-size: cover;
    padding-top: 80px;
    height: 620px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    h2{
        padding: 0px;
        margin: 0px;
        color: white;
    }

    #button-up {
        display: block;
        width: 70px;
        height: 70px;
        background: $yellow;

        .up {
            margin: 0 auto;
            padding-top: 23px;
            display: block;
        }
    }

    #button-up:hover {
        background: #cca602;
    }

    .left {
        width: 680px;
        display: flex;
        flex-direction: column;

        .contact {
            margin-bottom: 40px;

            a {
                color: $yellow;
                margin-right: 17px;
                font-size: 20px;
            }

            .ic-phone-none {
                width: 30px;
                height: 30px;
                display: block;
                margin-right: 15px;
            }
    
            .ic-mail-2 {
                width: 38px;
                height: 30px;
                display: block;
                margin-right: 15px;
                background: url(../img/mail-footer.png) no-repeat center;
                background-size: cover;
            }

            p {
                color: white;
                font-family: "ProximaNovaBold";
                font-size: 20px;
            }
        }
    }

    .right {
        margin: -20px;
        width: 400px;
        display: flex;

        
        form {
            display: flex;
            flex-direction: column;
            align-items: center;

            input {
                margin: 0 0 27px 0;
                width: 390px;
            }
    
            .checkbox-wrap {
                margin: 15px 0 40px 0;
            }
    
            label {
                color: #acb3ba;
                font-size: 16px;
            }
    
            .button {
                width: 195px;
            }
        }


    }



    .footer {
        height: 110px;
        background-color: rgba(0,0,0,0.42); 
        border-top: #2f2f30  3px solid;

        .wrapper {
            height: 50px;
            margin-top: 20px;
            align-items: flex-end;
        }

        .logo { 
            width: 190px;
            height: 50px;
            background: url(../img/logo.png) no-repeat center;
            background-size: cover;
        }

        nav {
            width: 900px;
        }
    }


}