@media screen and (max-width: 1020px) {

    article {
        width: auto;
        padding: 0 30px;
        margin: 0;
        overflow: hidden;
    }

    #first-screen {
        height: 100%;
        

        header {
            height: auto;

            article {
                flex-wrap: wrap;
                height: 110px;
                align-items: center;
                padding-top: 0;
                padding-top: 20px;
                height: 150px;
                flex-direction: column;
                justify-content: flex-start;

                
                .left-side {
                    align-items: center;
                    margin-bottom: 20px;

                    .logo {
                        align-self: unset;
                        margin-bottom: 0;
                    }
                    
                    .menu {
                      display: block;
                      margin: 3px 20px 0 20px;
                    }
                }
        
                nav {
                     display: none;
                }
        
                .right-side {
                    width: auto;
                    height: auto;
                }
            }
        }

        article {
            padding: 0 30px;
            .content {
                margin: 0;

                h1 {
                    text-align: center;
                }

                .services {
                    margin: 0 auto;
                }

                .contact-buttons {
                    margin: 0 auto;
                    padding-top: 60px;
                }

                #scroll {
                    padding: 60px 0;
                }
            }
        }
            
    }

    #second-screen {
        height: auto;
        padding: 40px 0 50px 0;

        article {
            .wrapper {
                flex-direction: column;
                width: 460px;
                margin: 0 auto;

                .left {
                    width: auto;
                }
            }
        }
    }

    #third-screen {
        padding: 35px 0;
        height: auto;

        article .wrap {
            p {
                width: auto;
                padding: 15px 25px;
                text-align: center;
                font-size: 20px;
                line-height: 20pt;
        
                br {
                    display: none;
                }
            }
        }
    }

    #forth-screen {
        height: auto;

        article .content {
            .line {
                display: none;
            }

            .list {
                p {
                    text-align: justify;
                }
                br {
                    display: none;
                }
            }
        }
    }

    #fifth-screen {
        padding: 35px 0;
        height: auto;

        article .wrap {
            flex-direction: column;
            width: auto;

            .guaranty {
                height: 120px;
            }
            p {
                width: auto;
                padding: 15px 25px;
                text-align: center;
        
                br {
                    display: none;
                }
            }
        }
    }

    #six-screen {
        height: auto;

        article {
            #portfolio-gallery {
                width: 460px;
                margin: 0 auto;
                h2 {
                    margin: 50px 0 50px 0;
                }
    
                .first-line, .second-line {
                    margin-bottom: 0px;
                    flex-direction: column;
    
                    .card {
                        width: 100%;
                        padding-bottom: 40px;
    
                        .cover {
                            width: 100%;
                            height: auto;
                        }
                    }
                }
    
                .second-line {
                    margin-bottom: 50px;
                    flex-direction: column;
                }
            }

            .wrap-click {
                margin: 50px 0 30px 0;

                .upper {
                    margin-bottom: 30px;
                }
                .slider {
                    .main-slide {
                        height: auto;
                        width: 100%;

                        .arrow {
                            width: 48px;
                        }

                        .slides {
                            width: 100%;
                            margin: 0 15px;
                        }
                    }

                    .slider-images {
                        display: none;
                    }
                }
            }
        }
    }
    
    #seven-screen {
        article {
            width: 660px;
            margin: 0 auto;

            h2 {
                padding-top: 50px;
                font-size: 35px;
            }

            .ic-wrap {
                margin-top: 50px;
                .card {
                    p {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}




@media screen and (max-width: 780px) {

    #first-screen {
        header {

            article {
                flex-direction: column;
                height: auto;
                padding-bottom: 30px;

                .right-side {
                    .contacts {
                        flex-direction: column;

                        .contact {
                            justify-content: center;
                            margin: 0 0 20px 0;
                        }
                    }
                }
            }
        }

        article {
            .content {
                h1 {
                    font-size: 40px;
                }

                .services {
                    width: 420px;
                    height: 160px;
                    font-size: 20px;
                }

                .contact-buttons {
                    flex-direction: column;
                    width: 420px;
                    padding-top: 30px;

                    .button {
                        text-align: center;
                        margin-bottom: 20px;
                        background-color: rgba(0, 0, 0, 0.42);
                    }
                }

                #scroll {
                    padding-top: 30px;
                }
            }
        }
    }

    #forth-screen {
        padding-top: 40px;

        article {
            h3 {
                margin-bottom: 40px;
            }

            .content {

                .list {
                    padding: 0 0 30px 0;
                }
            }
        }
    }

    #six-screen {
        article {
            .wrap-click {

                .upper {
                    .button-close {
                        width: 55px;
                        height: 55px;

                        .close {
                            padding-top: 12px;
                        }
                    }
                }
                .slider {
                    .main-slide {
                        height: auto;
                        width: 100%;

                        .arrow {
                            width: 48px;
                        }

                        .slides {
                            width: 320px;
                            height: 205px;
                        }
                    }
                }
            }
        }
    }

    #seven-screen {
        article {
            width: 280px;
            margin: 0 auto;

            .ic-wrap {
                .card {
                    p {
                        font-size: 18px;

                    }
                }
            }
        }
    }
}



@media screen and (max-width: 520px) {
    h2 {
        font-size: 35px;
    }

    #second-screen {
        height: auto;
        padding: 40px 0 50px 0;

        article {
            .wrapper {
                flex-direction: column;
                width: 100%;
                margin: 0 auto;

                .left {
                    width: 100%;

                    br {
                        display: none;
                    }
                }

                .right {
                    width: 100%;

                    .up {
                        height: auto;
                        padding: 15px 0;

                        p {
                            font-size: 16px;
                        }
                    }

                    .down {
                        width: auto; 
                        padding: 20px 20px 20px 15px;
                        height: auto;


                        .left-cups {
                            display: none;
                        }

                        .right-p {
                            width: 100%;
                            font-size: 16px;
                            margin: 0;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: center;

                            span {
                                display: block;
                                margin-bottom: 5px;
                            }

                            p {
                                margin: 0;
                                margin-bottom: 20px;
                            }
                        }
                    }
                }
            }
        }
    }

    #six-screen {
        article {
            #portfolio-gallery {
                width: 320px;
        
                .card {
                    width: 320px;
                }
            }

            .wrap-click {
                .slider {
                    .main-slide {
                        height: auto;
                        width: 100%;

                        .arrow {
                            width: 30px;
                            height: 50px;   
                        }

                        .slides {
                            width: 320px;
                            height: 205px;
                            box-shadow: 3px 30px 30px #848484;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {

    article {
        padding: 0 20px;
    }

    #first-screen {
        header {
            article {
                flex-direction: column;
                height: auto;
                padding: 20px;
            }
        }

        article {
            .content {
                h1 {
                    font-size: 30px;
                    letter-spacing: 0;
                }

                .services {
                    width: 100%;
                    height: auto;
                    font-size: 16px;
                    ul {
                        width: auto;
                        padding-bottom: 20px;
                        padding-right: 15px;
                    }
                }

                .contact-buttons {
                    flex-direction: column;
                    width: 100%;
                    padding-top: 30px;
                }
            }
        }
    }

    #third-screen {
        article .wrap {
            p {
                font-size: 18px;
            }
        }
    }

    #forth-screen {
        article {
            .content {
                .list {
                    p {
                        
                        font-size: 16px;
                    }
                }
            }
        }
    }

    #fifth-screen {
        padding: 35px 0;
        height: auto;

        article .wrap {
            flex-direction: column;
            width: auto;

            .guaranty {
                height: 120px;
            }
            p {
                font-size: 18px;
            }
        }
    }

    #six-screen {
        article {
            .wrap-click {
                margin-bottom: 0px;
                .slider {
                    .main-slide {
                        .arrow {
                            width: 25px;
                            height: 40px;
                        }

                        .slides {
                            width: 230px;
                            height: 147px;
                            box-shadow: 1px 10px 20px #848484;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    #six-screen {
        article {
            #portfolio-gallery {
                width: 280px;

                .first-line, .second-line {
                    .card {
                        width: 280px;
                        height: auto;
                        
                        .cover a{
                            height: 180px;
                        }
                    }
                }
            }
        }
    }
}